---
layout: base.njk
---

<article>
  <h2>{{ title }}</h2>
  <p>
    <span class="dates">
      {% if date %}
        Published <time datetime="{{ date }}">{{ date | date('full') }}</time>
        {% if update %} (updated <time datetime="{{ update }}">{{ update | date('full') }}</time>) {% endif %}
      {% else %}
        Not yet published
      {% endif %}
    </span>
  </p>
  {% if img %}
  <img class="large" src="{{ img.url }}" alt="{{ img.alt }}" />
  <p class="caption">{{ img.caption }}</p>
  {% endif %}
  {{ content | safe }}
</article>
