<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Myles Lewando">
  <meta name="description" content="{% if description %}{{ description }}{% else %}Musings by Myles Lewando{% endif %}">

  <meta property="og:title" content="{% if title %}{{ title }}{% else %}Code Macabre{% endif %}">
  <meta property="og:type" content="article" />
  <meta property="og:description" content="{% if description %}{{ description }}{% else %}Musings by Myles Lewando{% endif %}">
  <meta property="og:image" content="{% if img.url %}{{ img.url }}{% else %}/images/_me-redacted-sm.png{% endif %}">
  <meta property="og:url" content="{{ page.url }}">
  <meta name="twitter:card" content="summary_large_image">

  <link rel="alternate" type="application/rss+xml" title="Code Macabre" href="/feed.xml">

  <link rel="stylesheet" href="/css/main.css">
  
  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
  <link rel="icon" type="image/png" href="/images/favicon.png">

  <script src="/scripts/main.js"></script>
  <title>
    {% if title %}
      {{ title }}
      / Code Macabre
    {% else %}
      Code Macabre
    {% endif %}
  </title>
</head>
<body>
  {% include "header.njk" %}
  {% initClipboardJS %}
  <main>
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
</body>
</html>
