<footer>
  <p>
    &copy;
    <span id="date">2024</span>
    &lt;<img
      class="logo"
      src="/images/logo.svg"
      alt="CodeMacabre pixel skull"
    >&gt;
    <span class="mail">{{ site.author.name }}
    </span>
    <a style="display: none;" rel="me" href="https://merveilles.town/@myles">Mastodon</a>
  </p>
</footer>
