<footer>
  <p>
    &copy;
    <span id="date">2024</span>
    <span class="mail">{{ site.author.name }}
    </span>
    <a style="display: none;" rel="me" href="https://codemacabre.social/@codemacabre">Mastodon</a>
  </p>
</footer>
