---
title: Info
layout: main
---

<h2>Info</h2>
<p>👋🏼 Welcome to CodeMacabre!</p>
<p>
  This is the personal site of Myles Lewando (pronounced
  <i>le-van-doe</i>), a developer, educator, and data visualisation and accessibility specialist.
</p>
<p>
  Myles is a mental health rights activist, and is passionate about inclusive, ethical technology, and data justice. He uses
  <i>he/him</i>
  pronouns, mostly.
</p>

<img
  class="small center circle"
  src="/assets/images/_me-redacted.jpg"
  alt="A black and white grainy photo of Myles's head and shoulders. He has a long pointy beard and a mohawk, with a black censored bar across his eyes" />

<h3>Roles and memberships</h3>
<p>
  Alongside a day-job as a data visualisation developer, Myles is also involved in other activities. These include:
</p>
<ul>
  <li>
    Member of the
    <a href="https://business.senedd.wales/mgIssueHistoryHome.aspx?IId=38553&Opt=0">Mental Health Inequalities Advisory Group</a>
    for Welsh Government's
    <a href="https://senedd.wales/committee/737">Health & Social Care Committee</a>
    <i class="dates nobr">(July 2022 - present)</i>
  </li>
  <li>
    Member of Welsh Government's
    <a href="https://business.senedd.wales/mgOutsideBodyDetails.aspx?ID=833">Cross-Party Group on Digital Rights and Democracy</a>
    <i class="dates nobr">(Feb 2022 - present)</i>
  </li>
</ul>

<h3>Fun facts</h3>
<p>Myles has a menagerie of multi- and no-legged pets, including:</p>
<ul>
  <li>🐌 giant African land snails</li>
  <li>🐛 various species of millipedes</li>
  <li>🕷️ various species of tarantulas</li>
  <li>🪲 a pair of blue death-feigning beetles</li>
  <li>🪵 occasionally, stick insects</li>
</ul>
<p>…and one human child.</p>
<p>
  As morbid as it sounds, Myles loves graveyards, crypts and catacombs 🪦. Where possible, he tries to visit weird and unusual ones, or just take a quiet walk around a local one.</p>

<h3>Contact</h3>
<p>
  <span class="mail">Send Myles an email</span>
  or find him on
  <a href="https://twitter.com/codemacabre">
    <s>Twitter</s>
  </a>
  <a href="https://hachyderm.io/@codemacabre">Mastodon</a>
  (and most other places)
  as @{{ site.author.username }}.
</p>
