---
layout: main
title: Projects
pagination:
  data: collections.projects
  size: 10
  alias: projects
  reverse: true
---

<h2>Projects</h2>
<ul>
  {% for project in projects %}
  <li>
    <a href="{{ project.url }}">{{ project.data.title }}</a>
    <i class="dates">
      ({{ project.date | date: "%Y" }}{% if project.data.endDate %} -
      {{ project.data.endDate | date: "%Y" }}{% endif %})
    </i>
  </li>
  {% endfor %}
</ul>

{% render 'pagination', pagination: pagination %}
