---
layout: main
title: Writing
pagination:
  data: collections.writing
  size: 10
  alias: posts
  reverse: true
---

<h2>Writing</h2>
<ul>
  {% for post in posts %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
    <i class="dates nobr">({{ post.date | date: "%d %b, %Y" }})</i>
  </li>
  {% endfor %}
</ul>

{% render 'pagination', pagination: pagination %}
