<header>
  <h1><a href="/">CodeMacabre</a></h1>
  <nav>
    <ul class="menu">
      <li>
        {% if url contains '/projects' %}
        <a class="selected" aria-current="page" href="/projects">Projects</a>
        {% else %}
        <a href="/projects">Projects</a>
        {% endif %}
      </li>
      <li>
        / {% if url contains '/writing' %}
        <a class="selected" aria-current="page" href="/writing">Writing</a>
        {% else %}
        <a href="/writing">Writing</a>
        {% endif %}
      </li>
      <li>
        / {% if url contains '/speaking' %}
        <a class="selected" aria-current="page" href="/speaking">Speaking</a>
        {% else %}
        <a href="/speaking">Speaking</a>
        {% endif %}
      </li>
      <li>
        / {% if url contains '/about' %}
        <a class="selected" aria-current="page" href="/about">About</a>
        {% else %}
        <a href="/about">About</a>
        {% endif %}
      </li>
    </ul>
  </nav>
</header>
