---
layout: base.njk
permalink: 404.html
---

<h2>Uh-oh!</h2>
<p>This page doesn't exist. Try browsing for <a href="/projects">projects</a> or <a href="/writing">writing</a>, or go <a href="/">home</a> and start from there.</p>
<p>If you think this is in error, please <a href="/about/#contact">contact me</a> to let me know.
