---
layout: base.njk
title: About
---

<h2>About</h2>
<p>👋🏼 Welcome to CodeMacabre!</p>
<p>
  This is the portfolio and personal site of Myles Lewando (pronounced <i>le-van-doe</i>), a developer, designer, and data visualisation and accessibility specialist.
</p>
<p>
  Myles is passionate about inclusive, ethical technology, and data justice. He currently works as a Data Visualisation Developer at <a href="https://opendataservices.coop/">Open Data Services Co-operative</a>, and he uses <i>he / him</i> pronouns, mostly.
</p>
<img
  class="small center circle"
  src="/images/_me-redacted-sm.png"
  alt="A black and white grainy photo of Myles' head and shoulders. He has a long pointy beard and a mohawk, with a black censored bar across his eyes"
>
<h3 id="fun-facts">Fun facts</h3>
<p>Myles has a menagerie of multi- and no-legged pets, including:</p>
<ul class="indented">
  <li>🐌 giant African land snails</li>
  <li>🐛 various species of millipedes</li>
  <li>🕷️ various species of tarantulas</li>
  <li>🪲 a pair of blue death-feigning beetles</li>
  <li>🪵 occasionally, stick insects</li>
</ul>
<p>…and one human child.</p>
<p>
  As morbid as it sounds, Myles loves graveyards, crypts and catacombs 🪦. Where possible, he tries to visit weird and
  unusual ones, or just take a quiet walk around a local one.
</p>
<h3 id="contact">Contact</h3>
<p>Get in touch with Myles via <span class="mail">email</span><noscript> (turn JavaScript on to view email address)</noscript>, or reach out on <a href="https://merveilles.town/@myles">Mastodon</a>.</p>


