---
layout: base.njk
title: About
description: About Myles Lewando
---

<h2>{{ title }}</h2>
<p>Welcome to Code Macabre!</p>
<p>
  This is the portfolio and personal site of me, Myles Lewando (he / him), a developer, designer, and data visualisation and accessibility specialist.
</p>
<p>
  I began freelancing as a developer in 2016, then formally changed career to become a full-time developer in 2019. My background is in education, data visualisation (particularly geospatial), and design. I am passionate about inclusive, ethical technology, and data justice.
</p>
<img
  class="small center circle"
  src="/images/_me-redacted-sm.png"
  alt="A black and white grainy photo of my head and shoulders. I have a long pointy beard and a mohawk, with a black censored bar across my eyes"
>
<h3 id="now">Now</h3>

{% set year = '2024' %}

{% set notesWritten = 0 %}
{% for note in collections.notes %}
  {% set noteDate = note.date | date('year') %}
  {% if noteDate === year %}
    {% set notesWritten = notesWritten + 1 %}
  {% endif %}

{% endfor %}
{% set booksRead = 0 %}
{% for book in books %}
  {% if book.dateRead === year %}
    {% set booksRead = booksRead + 1 %}
  {% endif %}
{% endfor %}

<p>
  I work as a {{ self.organisation.position }} at <a href="{{ self.organisation.url }}">{{ self.organisation.name }}</a>. I've <a href="/notes">written {{ notesWritten }} {% if notesWritten === 1 %}note{% else %}notes{% endif %}</a> and <a href="/reading">read {{ booksRead }} {% if booksRead === 1 %}book{% else %}books{% endif %}</a> so far this year.
</p>
<h3 id="fun-facts">Fun facts</h3>
<p>My household includes a menagerie of multi-legged pets of various species, including:</p>
<ul class="indented">
{% for pet in self.pets %}
  <li>{{ pet.count }}x {{ pet.species_en }} ({{ pet.species_la}})</li>
{% endfor %}
</ul>
<p>…and one human child.</p>
<p>
  As morbid as it sounds, I love graveyards, crypts and catacombs. Where possible, I try to visit weird and unusual ones, or just take a quiet walk around a local one.
</p>
<h3 id="contact">Contact</h3>
<p>Get in touch via <span class="mail">email</span><noscript> at contact (at) codemacabre (dot) com</noscript>, or reach out on <a href="https://social.coop/@codemacabre">Mastodon</a> or <a href="https://www.linkedin.com/in/codemacabre/">LinkedIn</a>.</p>


