---
layout: base.njk
title: Notes
description: Notes by Myles Lewando
pagination:
  data: collections.notes
  size: 10
  reverse: true
---

<div class="heading-and">
  <h2>{{ title }}</h2>
  <a class="rss right" href="/feed.xml">
    RSS
  </a>
</div>
<ul>
{% for post in pagination.items %}
  <li class="card no-image">
    <div>
      <div class="card-heading"><a class="title" href="{{ post.url }}">{{ post.data.title }}</a> <span class="dates">(<time datetime="{{ post.data.date }}">{{ post.data.date | date('full') }}</time>)</span></span></div>
      <p class="description">{{ post.data.description }}</p>
    </div>
    <div class="metadata-container">
      <div class="metadata">{{ post.data.category }}</div>
    </div>
  </li>
{% endfor %}
</ul>

{% include 'pagination.njk' %}
