---
layout: base.njk
title: Notes
description: Notes by Myles Lewando
pagination:
  data: collections.notes
  size: 10
  reverse: true
---

<div class="heading-and">
  <h2>{{ title }}</h2>
  <a class="rss right" href="/feed.xml">
    RSS
  </a>
</div>
<p>Here you will find three types of notes.</p>
<p>A <a class="category" href="/notes/musings">MUSING</a> is a brief thought, largely unformed and needing refinement. A <a class="category" href="/notes/scrawls">SCRAWL</a> is a slightly better-formed thought that is vaguely researched, but still incomplete and subject to change. An <a class="category" href="/notes/articles">ARTICLE</a> is a complete thought, usually longer-form, researched, and less subject to change.
<ul class="wider">
{% for post in pagination.items %}
  <li>
    <a class="title" href="{{ post.url }}">{{ post.data.title }}</a> <span class="category">{{ post.data.category.toUpperCase() }}</span> <span class="dates">(<time datetime="{{ post.data.date }}">{{ post.data.date | date('full') }}</time>)</span>
    <p class="description">{{ post.data.description }}</p>
  </li>
{% endfor %}
</ul>

{% include 'pagination.njk' %}
