---
layout: base.njk
title: Projects
description: Projects by Myles Lewando
pagination:
  data: collections.a_to_z_projects
  size: 10
  reverse: true
---

<h2>{{ title }}</h2>
<ul class="wider">
{% for project in pagination.items %}
  <li>
    <a class="title" href="{{ project.url }}">{{ project.data.title }}</a> <span class="category">{{ project.data.status.toUpperCase() }}</span> <span class="dates">(<time datetime="{{ project.data.date }}">{{ project.data.date | date('year') }}</time>{% if project.data.endDate %} - <time datetime="{{ project.data.endDate }}">{{ project.data.endDate | date('year') }}</time>{% endif %})</span>
    <p class="description">{{ project.data.description }}</p>
  </li>
{% endfor %}
</ul>

{% include 'pagination.njk' %}
