---
layout: base.njk
title: Reading
description: Myles Lewando's bookshelf, by year
---

<h2>{{ title }}</h2>
<p>The audiobooks, ebooks, paperbacks, and hardbacks I've read each year, as of 2024. I tend to prefer physical books, but when buying digital books, I favour DRM-free ebooks and <a href="https://libro.fm/referral?rf_code=lfm227162">audiobooks</a>.</p>

{% set years = ['2024'] %}
{% for year in years %}
  <h3>{{ year }}</h3>
  <ul>
    {% for book in books %}
    {% if book.dateRead === year %}
      {% include 'book.njk' %}
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}
