---
layout: base.njk
title: Reading
description: A (selected) view of Myles Lewando's non-fiction bookshelf
---

<h2>Reading</h2>
<ul>
{% for item in books %}
  <li class="card">
    <img class="greyscale" src="{{ item.cover.src }}" alt="{{ item.cover.alt }}" />
    <p><a href="{{ item.url }}">{{ item.title }}</a> by 
    {% for entity in item.author %}
      {% if item.author.length > 1 %}
        {% if entity === item.author[item.author.length - 1] %}
          {{ entity }}
        {% else %}
          {{ entity }}, 
        {% endif %}
      {% else %}
        {{ entity }}
      {% endif %}
    {% endfor %}
    </p>
    <div class="status-container">
    {% if item.status !== 'to read' %}
      <div class="status">{{ item.status}}</div>
    {% endif %}
    </div>
  </li>
{% endfor %}
</ul>
