---
layout: base.njk
title: Reading
description: A (selected) view of Myles Lewando's non-fiction bookshelf
---

<h2>Reading</h2>
<p>This is a selection of my non-fiction audiobooks, ebooks, paperbacks, and hardbacks.</p>
<p>I use <a href="https://libro.fm/referral?rf_code=lfm227162">Libro.fm</a> for audiobooks and try to avoid ebooks with DRM whenever possible. Titles here link to the Internet Archive's <a href="https://openlibrary.org">Open Library</a> to encourage readers to borrow books if available.</p>
<ul>
{% for book in books %}
  <li class="card">
    <img class="greyscale" src="{{ book.cover.src }}" width="{{ book.cover.width / 2 }}" height="{{ book.cover.height / 2 }}" alt="{{ book.cover.alt }}" />
    <p><a href="{{ book.url }}">{{ book.title }}</a> by 
    {% for entity in book.author %}
      {% if book.author.length > 1 %}
        {% if entity === book.author[book.author.length - 1] %}
          {{ entity }}
        {% else %}
          {{ entity }}, 
        {% endif %}
      {% else %}
        {{ entity }}
      {% endif %}
    {% endfor %}
    </p>
    <div class="status-container">
    {% if book.status !== 'to read' %}
      <div class="status">{{ book.status}}</div>
    {% endif %}
    </div>
  </li>
{% endfor %}
</ul>
