---
layout: base.njk
title: Scrawls
description: Scrawls by Myles Lewando
permalink: '/notes/scrawls'
pagination:
  data: collections.a_to_z_scrawls
  size: 10
  reverse: true
  generatePageOnEmptyData: true
---


<h2>{{ title }}</h2>
<ul class="wider">
{% for post in pagination.items %}
  <li>
    <a class="title" href="{{ post.url }}">{{ post.data.title }}</a> <span class="category">{{ post.data.category.toUpperCase() }}</span> <span class="dates">(<time datetime="{{ post.data.date }}">{{ post.data.date | date('full') }}</time>)</span>
    <p class="description">{{ post.data.description }}</p>
  </li>
{% endfor %}
</ul>

{% include 'pagination.njk' %}
