---
layout: base.njk
title: Writing
pagination:
  data: collections.published_writing
  size: 10
  reverse: true
---

<div class="heading-and">
  <h2>Writing</h2>
  <a class="rss right" href="/feed.xml">
    RSS
  </a>
</div>
<ul class="wider">
{% for post in pagination.items %}
  <li>
    <a class="title" href="{{ post.url }}">{{ post.data.title }}</a> <span class="dates">(<time datetime={{ post.data.date }}>{{ post.data.date | date('full') }}</time>)</span>
    <p class="description">{{ post.data.description }}</p>
  </li>
{% endfor %}
</ul>

{% include 'pagination.njk' %}
